body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

nav{
    background-color: rgb(16, 29, 66);
    padding: 10px;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

nav a{
    text-decoration: none;
    margin: 15px;
    font-size: 20px;
    font-weight: bold;
    color: white
}

nav a:hover{
    color: pink;
}

h1{
    text-align: center;
}

.main{
    background-color: rgb(16, 29, 66);
    text-align: center;
    display: block;
    padding: 20px;
    margin: auto;
    color: white;
}

input{
    padding: 7px;
    margin: 10px 10px;
}

label{
    font-size: 18px;
}

p{
    font-size: 19px;
}

button{
    padding: 8px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    margin: 1rem 1rem;
    background-color: pink;
}

textarea{
    background-color: white;
    font-size: 16px;
}

.footer{
    background-color: rgb(16, 29, 66);
    margin-top: 40px;
    padding: 1rem;
    text-align: center;
    color: white
}